<!DOCTYPE html>
<html>
<head>
  <!-- presence() is a method added by Rails to the String class -->
  <title>RoR FirstApp | <%= yield(:title).presence||'somewhere' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!-- Produces HTML code to show the argument in YAML format.
         It is wrapped in <pre class="debug_dump"></pre>
    -->
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
